# SCRAPING PÁGINA WEB: AUTOHERO
(Coches de segunda mano)

Hemos realizado un Scraping de la pagina, desde el entorno de Python "Pychar" y hemos obtenido 4 archivos csv que corresponden a coches de segunda mano previamente filtrando los menores a 120000 kms y con menos de 12 años de antiguedad:

In [ ]:
import pandas as pd
import numpy as np
from datetime import datetime

#1 . Archivos csv obtenidos mediante scraping:

In [ ]:
df1 = pd.read_csv("CSV_Scraping_autohero.csv")
df2 = pd.read_csv("CSV_Scraping_autohero2.csv")
df3 = pd.read_csv("CSV_Scraping_autohero3.csv")
df4 = pd.read_csv("CSV_Scraping_autohero4.csv")

In [ ]:
# vemos los archivos
print(f"__________________________________________________________________________________\n\n \
      df1: -----> \n\n {df1.head(3)}\n\n")
print(f"__________________________________________________________________________________\n\n \
      df2: -----> \n\n {df2.head(3)}\n\n")
print(f"__________________________________________________________________________________\n\n \
      df3: -----> \n\n {df3.head(3)}\n\n")
print(f"__________________________________________________________________________________\n\n \
      df4: -----> \n\n {df4.head(3)}\n\n__________________________________________________________________________________")

__________________________________________________________________________________

       df1: ----->

            Marca         Modelo        Version    Precio Combustible      Año  \
0   Seat Ateca,    Seat Ateca,   1.5 TSI Style  28.399 €    Gasolina  12.2021
1  Hyundai i10,   Hyundai i10,     1.0 Essence       NaN    Gasolina  09.2022
2  Kia Picanto,   Kia Picanto,     1.0 Concept       NaN    Gasolina  06.2020

       Kms         Potencia Puertas                  Cambio   Color
0   330 km  150 CV / 110 kW       5  Cambio tipo automático    Gris
1   284 km    67 CV / 49 kW       5      Cambio tipo manual    Azul
2  1597 km    67 CV / 49 kW       5      Cambio tipo manual  Blanco


__________________________________________________________________________________

       df2: ----->

                        Marca                     Modelo        Version  \
0         Dacia Sandero II,          Dacia Sandero II,    1.2 Ambiance
1          Chevrolet Cruze,           Chevrolet Cruze,          1.6 LS
2  Mercedes-Benz Clase GLA,   Mercedes-Benz Clase GLA,   GLA 180 Urban

    Precio Combustible     Año        Kms        Potencia  Puertas  \
0  7.199 €    Gasolina  3.2015  70.363 km   75 CV / 55 kW      5.0
1  6.999 €    Gasolina  1.2011  70.379 km  113 CV / 83 kW      4.0
2      NaN    Gasolina  8.2017  70.700 km  122 CV / 90 kW      5.0

                   Cambio   Color
0      Cambio tipo manual  Blanco
1      Cambio tipo manual    Gris
2  Cambio tipo automático    Azul


__________________________________________________________________________________

       df3: ----->

            Marca         Modelo         Version    Precio Combustible     Año  \
0   Seat Ibiza,    Seat Ibiza,    1.2 Reference       NaN    Gasolina  6.2015
1  Peugeot 208,   Peugeot 208,   1.2 VTi Active   7.699 €    Gasolina  6.2013
2  MINI Cabrio,   MINI Cabrio,         Cooper D  16.599 €      Diésel  5.2016

          Kms        Potencia  Puertas              Cambio  Color
0  104.706 km   70 CV / 51 kW      3.0  Cambio tipo manual   Rojo
1  105.343 km   82 CV / 60 kW      5.0  Cambio tipo manual  Beige
2  105.498 km  115 CV / 85 kW      2.0  Cambio tipo manual  Verde


__________________________________________________________________________________

       df4: ----->

                Marca             Modelo                     Version    Precio  \
0   Peugeot Rifter,    Peugeot Rifter,          1.2 e-THP Active L2  22.499 €
1  Volkswagen Polo,   Volkswagen Polo,              1.6 TDI Advance  14.499 €
2  Volkswagen Polo,   Volkswagen Polo,   1.4 TDI Advance BlueMotion  11.199 €

  Combustible      Año        Kms        Potencia  Puertas  \
0    Gasolina   3.2019  72.288 km  110 CV / 81 kW        5
1      Diésel  10.2018  72.570 km   95 CV / 70 kW        5
2      Diésel  11.2015  72.932 km   90 CV / 66 kW        5

               Cambio  Color
0  Cambio tipo manual   Azul
1  Cambio tipo manual  Negro
2  Cambio tipo manual   Gris

__________________________________________________________________________________

#2 . Unimos los archivos csv:
Unimos los 4 archivos csv en uno para trabajar comodamente:

Cada uno de los archivos contiene una cabecera y solo queremos la del primer archivo.

In [ ]:
# Función para unir los archivos csv en uno solo.

def concatenar_lista_archivos(lista_archivos):
  global df
  df = pd.read_csv(lista_archivos[0])

  for i in range (1, len(lista_archivos)):
    if i <= len(lista_archivos):
      df1 = pd.read_csv(lista_archivos[i])
      df = pd.concat([df,df1]) # concatenamos un nuevo archivo al conjunto ya concatenado y reiteramos hasta completarlo.
  return df


archivos = ["CSV_Scraping_autohero.csv", "CSV_Scraping_autohero2.csv", "CSV_Scraping_autohero3.csv", "CSV_Scraping_autohero4.csv"]
concatenar_lista_archivos(archivos)

,Marca,Modelo,Version,Precio,Combustible,Año,Kms,Potencia,Puertas,Cambio,Color
0,"Seat Ateca,","Seat Ateca,",1.5 TSI Style,28.399 €,Gasolina,12.2021,330 km,150 CV / 110 kW,5,Cambio tipo automático,Gris
1,"Hyundai i10,","Hyundai i10,",1.0 Essence,NaN,Gasolina,09.2022,284 km,67 CV / 49 kW,5,Cambio tipo manual,Azul
2,"Kia Picanto,","Kia Picanto,",1.0 Concept,NaN,Gasolina,06.2020,1597 km,67 CV / 49 kW,5,Cambio tipo manual,Blanco
3,"Kia Stonic,","Kia Stonic,",1.0 TGDI Mild-Hybrid iMT Drive,NaN,Gasolina,04.2021,1673 km,101 CV / 74 kW,5,Cambio tipo manual,Azul
4,"Citroen C3 Aircross,","Citroen C3 Aircross,",1.2 PureTech C-Series,17.099 €,Gasolina,09.2020,1695 km,110 CV / 81 kW,5,Cambio tipo manual,Gris
...,...,...,...,...,...,...,...,...,...,...,...
496,"Fiat 500,","Fiat 500,",1.2 S,12.999 €,Gasolina,5.2018,61.360 km,70 CV / 51 kW,3,Cambio tipo automático,Negro
497,"Peugeot 208,","Peugeot 208,",1.2 PureTech Style,9.799 €,Gasolina,6.2017,61.384 km,82 CV / 60 kW,5,Cambio tipo manual,Gris
498,"Renault Grand Scenic,","Renault Grand Scenic,",1.3 TCe Zen,18.499 €,Gasolina,10.2018,61.395 km,140 CV / 103 kW,5,Cambio tipo manual,Marrón
499,"Kia Rio,","Kia Rio,",1.2 CVVT Eco-Dynamics X-Tech,8.599 €,Gasolina,12.2015,61.549 km,85 CV / 62 kW,5,Cambio tipo manual,Blanco
500,"Nissan NV200 Evalia,","Nissan NV200 Evalia,",1.5 dCi Comfort,15.099 €,Diésel,10.2018,61.706 km,110 CV / 81 kW,4,Cambio tipo manual,Blanco

## Cabecera en el centro del archivo 1, lo eliminamos.
En el centro del primer archivo se encuentra una cabecera, resultado de unir archivos durante el scraping, lo eliminamos.

In [ ]:
# Buscamos donde se encuentra esta fila con los nombres de las columnas:
df.loc[df["Año"] == "Año"]

,Marca,Modelo,Version,Precio,Combustible,Año,Kms,Potencia,Puertas,Cambio,Color
641,Marca,Modelo,Version,Precio,Combustible,Año,Kms,Potencia,Puertas,Cambio,Color

In [ ]:
# borramos:
df.drop([641], axis=0, inplace=True)
# y comprobamos:
df.loc[df["Año"] == "Año"]

Empty DataFrame
Columns: [Marca, Modelo, Version, Precio, Combustible, Año, Kms, Potencia, Puertas, Cambio, Color]
Index: []

#3 .Limpieza del df.

## Nulos

### Total de nulos:

In [ ]:
# donde se encuentran los nulos:
print("Nulos por columna:")
print()
df.isnull().sum()

Nulos por columna:

Marca            0
Modelo           0
Version          0
Precio         334
Combustible      0
Año              0
Kms              0
Potencia         0
Puertas          5
Cambio           0
Color            1
dtype: int64

In [ ]:
#Total de nulos:
print(f"Total nulos: {df.isnull().sum().sum()} valores")

Total nulos: 340 valores

### Eliminamos nulos:
Los nulos se encuentran principalmente en el precio. Los eliminamos puesto que no tiene sentido utilizar estos coches si no tienen precio.

In [ ]:
# eliminamos los nulos:

df = df.dropna()

print("Nulos por columna:")
print()
df.isnull().sum()

Nulos por columna:

Marca          0
Modelo         0
Version        0
Precio         0
Combustible    0
Año            0
Kms            0
Potencia       0
Puertas        0
Cambio         0
Color          0
dtype: int64

## Columna "Distrubuidor":
Añadimos una columna nueva para saber de qué página web vienen las diferentes ofertas. O de que scraping proceden las ofertas.

In [ ]:
df["Distribuidor"] = "Autohero.com"

df.head(3)

<ipython-input-79-1dcc89657793>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Distribuidor"] = "Autohero.com"

,Marca,Modelo,Version,Precio,Combustible,Año,Kms,Potencia,Puertas,Cambio,Color,Distribuidor
0,"Seat Ateca,","Seat Ateca,",1.5 TSI Style,28.399 €,Gasolina,12.2021,330 km,150 CV / 110 kW,5,Cambio tipo automático,Gris,Autohero.com
4,"Citroen C3 Aircross,","Citroen C3 Aircross,",1.2 PureTech C-Series,17.099 €,Gasolina,09.2020,1695 km,110 CV / 81 kW,5,Cambio tipo manual,Gris,Autohero.com
5,"Seat Arona,","Seat Arona,",1.0 TSI Xperience,21.599 €,Gasolina,01.2023,1771 km,110 CV / 81 kW,5,Cambio tipo manual,Rojo,Autohero.com

## Limpiar valores de columnas:
Vamos a limpiar los valores de las diferentes columnas, antes de proceder a cambiar los tipos de datos que contienen.

Ejemplo:

Columna "Potencia" (150 CV / 110 kW) ---> (150)

Primero vamos a ver que valores existen en las columnas, los únicos.

In [ ]:
# Valores únicos por columna:

for x in list(df.columns):
  print(f" Únicos  de columna \"{x.upper()}\": \n\n {df[x].unique()}")
  print("\n""\n")

 Únicos  de columna "MARCA":

 ['Seat Ateca, ' 'Citroen C3 Aircross, ' 'Seat Arona, ' 'Fiat Panda, '
 'Hyundai Bayon, ' 'Opel Corsa, ' 'Peugeot 208, ' 'Hyundai i20, '
 'Hyundai Kona, ' 'Volkswagen T-Roc, ' 'Kia Picanto, ' 'MINI MINI, '
 'Seat León, ' 'Dacia Sandero II, ' 'Kia XCeed, ' 'Citroen C4, '
 'Renault Clio, ' 'Mazda 2, ' 'Fiat Punto, ' 'Fiat Tipo, '
 'Nissan Micra, ' 'Renault Arkana, ' 'Kia Stonic, ' 'Renault Twingo, '
 'Toyota Yaris, ' 'Abarth 595, ' 'Fiat 500C, ' 'Ford Transit Connect, '
 'Jeep Renegade, ' 'Seat Ibiza, ' 'Hyundai Tucson, ' "Kia cee'd, "
 'Volvo XC 40, ' 'Ford Ecosport, ' 'Dacia Sandero III, ' 'Skoda Kodiaq, '
 'Toyota Corolla, ' 'Subaru Trezia, ' 'Volkswagen Polo, ' 'Citroen C 3, '
 'BMW Serie 1, ' 'Citroen C-Elysée, ' 'Mercedes-Benz Clase CLA, '
 'Dacia Duster, ' 'Fiat 500X, ' 'Citroen C4 Cactus, ' 'Kia Sportage, '
 'Hyundai i30, ' 'Ford Puma, ' 'Ford Focus, ' 'Renault Megane, '
 'Peugeot 108, ' 'Ford Tourneo Courier, ' 'Nissan Qashqai, '
 'Peugeot 2008, ' 'Mercedes-Benz Clase B, ' 'Fiat 500, ' 'Mazda CX 3, '
 'Skoda Superb, ' 'Dacia Duster II, ' 'Toyota C-HR, ' 'Cupra Formentor, '
 'Chevrolet Aveo, ' 'Suzuki SX4 S-Cross, ' 'Renault Captur, '
 'Jeep Compass, ' 'Seat Tarraco, ' 'Mitsubishi ASX, ' 'BMW X1, '
 'Land Rover Evoque, ' 'Skoda Octavia, ' 'Mercedes-Benz Clase A, '
 'Ford B-Max, ' 'BMW Serie 3, ' 'Skoda Kamiq, ' 'Mazda CX-30, '
 'Citroen Berlingo, ' 'MINI Countryman, ' 'Ford C-Max, ' 'Ford Ka+, '
 'BMW Serie 4, ' 'Honda HR-V, ' 'Smart ForFour, ' 'Audi A1, '
 'Skoda Rapid, ' 'Renault Kadjar, ' 'Audi A3 Limousine, ' 'Ford Fiesta, '
 'Toyota Auris Touring Sports, ' 'Skoda Fabia, ' 'Volvo V40, '
 'Peugeot Rifter, ' 'Volkswagen Tiguan, ' 'Renault Scenic, '
 'Skoda Karoq, ' 'Ford Transit, ' 'Peugeot 5008, ' 'Toyota ProAce Verso, '
 'Ford Kuga, ' 'Peugeot 308, ' 'Citroen C4 Grand Picasso, '
 'BMW Serie 5, ' "Kia pro_cee'd, " 'Opel Combo Life, ' 'Fiat Doblò, '
 'Audi Q3 Sportback, ' 'Toyota AYGO, ' 'Mazda CX 5, ' 'Nissan Juke, '
 'Volkswagen T-Cross, ' 'Toyota RAV 4, ' 'Mitsubishi Space Star, '
 'Peugeot 508, ' 'Hyundai i10, ' 'Ssangyong Tivoli, ' 'Dacia Dokker, '
 'Audi Q3, ' 'Peugeot 3008, ' 'Ford Ka, ' 'Lexus CT-Serie, '
 'Opel Mokka X, ' 'Renault Grand Scenic, ' 'Subaru XV, ' 'Kia Rio, '
 'Citroen C4 Grand Spacetourer, ' 'DS Automobiles DS7 Crossback, '
 'Opel Crossland X, ' 'Hyundai ix20, ' 'Lancia Ypsilon, '
 'Mercedes-Benz Clase C, ' 'Smart ForTwo, ' 'Seat Mii, '
 'Citroen C4 Spacetourer, ' 'Suzuki Swift, ' 'Mercedes-Benz Clase GLA, '
 'Citroen DS3, ' 'Audi A3, ' 'Opel Astra, ' 'Subaru Outback, '
 'Toyota Auris, ' 'Abarth 595C, ' 'Suzuki Jimny, ' 'Volkswagen Golf VII, '
 'Honda Jazz, ' 'Volkswagen Arteon, ' 'Mitsubishi Outlander, '
 'Fiat 500L, ' 'Peugeot Partner, ' 'Seat Alhambra, ' 'Mazda 3, '
 'Land Rover Discovery Sport, ' 'Volkswagen Caddy, ' 'Opel Meriva, '
 'Ford Tourneo, ' 'Suzuki Vitara, ' 'Mazda 6, ' 'Toyota Verso, '
 'Audi A4, ' 'Citroen C4 Picasso, ' 'Dacia Lodgy, ' 'MINI Cabrio, '
 'Mercedes-Benz Vito Tourer, ' 'Opel Adam, ' 'BMW Serie 2, '
 'Chevrolet Cruze, ' 'Volkswagen up!, ' 'Honda Civic, '
 'Alfa Romeo Giulietta, ' 'Kia Venga, ' 'Lexus NX-Serie, ' 'Ford Mondeo, '
 'Dacia Sandero, ' 'Fiat Qubo, ' 'Citroen Spacetourer, ' 'Opel Astra K, '
 'Hyundai IONIQ, ' 'Opel Insignia Grand Sport, ' 'Dacia Logan MCV II, '
 'Opel Combo, ' 'Mercedes-Benz Clase E, ' 'Ford Grand C-Max, '
 'Ssangyong Korando, ' 'Citroen DS4 Crossback, ' 'Peugeot Traveller, '
 'Mitsubishi Eclipse Cross, ' 'Renault Talisman, ' 'BMW X4, ' 'Audi Q5, '
 'Opel Zafira Tourer, ' 'Audi A6, ' 'Audi A5 Sportback, ' 'Nissan Note, '
 'Renault Kangoo, ' 'Opel Insignia, ' 'Volvo XC 70, '
 'Mercedes-Benz Clase GLC, ' 'Opel Insignia Sports Tourer, ' 'Audi Q2, '
 'Seat Altea XL, ' 'Hyundai Elantra, ' 'Ford Tourneo Connect, '
 'Peugeot 207, ' 'Chevrolet Orlando, ' 'Volkswagen Jetta, '
 'Citroen C3 Picasso, ' 'Volkswagen Golf VI, ' 'Chevrolet Trax, '
 'Hyundai ix35, ' 'BMW X3, ' 'Volkswagen Passat, ' 'Renault Laguna, '
 'Fiat Freemont, ' 'Opel Astra GTC, ' 'Citroen DS5, ' 'Alfa Romeo MiTo, '
 'Mercedes-Benz Clase SLK, ' 'Opel Karl, ' 'Kia Soul, ' 'Suzuki SX4, '
 'Citroen C1, ' 'Dacia Logan II, ' 'Ford Fusión, ' 'Nissan Pixo, '
 'Nissan X-Trail, ' 'Renault Fluence, ' 'BMW X2, ' 'Toyota Avensis, '
 'Opel Grandland X, ' 'Mercedes-Benz Clase V, ' 'Kia Niro, '
 'Seat Altea, ' 'BMW Z4, ' 'Skoda Yeti, ' 'Volkswagen T6 Multivan, '
 'Jaguar F-Pace, ' 'MINI Clubman, ' 'Volkswagen Scirocco, ' 'Honda CR-V, '
 'Audi A7, ' 'Mercedes-Benz Viano, ' 'Peugeot Expert, ' 'Nissan Pulsar, '
 'Ford Grand Tourneo Connect, ' 'MG ZS, ' 'Opel Mokka, '
 'Hyundai i30 Fastback, ' 'Volkswagen Golf, ' 'Lexus RC-Serie, '
 'Hyundai i20 Active, ' 'Renault Koleos, '
 'Volkswagen Golf VII Sportsvan, ' 'Alfa Romeo Stelvio, '
 'Nissan NV200 Evalia, ']



 Únicos  de columna "MODELO":

 ['Seat Ateca, ' 'Citroen C3 Aircross, ' 'Seat Arona, ' 'Fiat Panda, '
 'Hyundai Bayon, ' 'Opel Corsa, ' 'Peugeot 208, ' 'Hyundai i20, '
 'Hyundai Kona, ' 'Volkswagen T-Roc, ' 'Kia Picanto, ' 'MINI MINI, '
 'Seat León, ' 'Dacia Sandero II, ' 'Kia XCeed, ' 'Citroen C4, '
 'Renault Clio, ' 'Mazda 2, ' 'Fiat Punto, ' 'Fiat Tipo, '
 'Nissan Micra, ' 'Renault Arkana, ' 'Kia Stonic, ' 'Renault Twingo, '
 'Toyota Yaris, ' 'Abarth 595, ' 'Fiat 500C, ' 'Ford Transit Connect, '
 'Jeep Renegade, ' 'Seat Ibiza, ' 'Hyundai Tucson, ' "Kia cee'd, "
 'Volvo XC 40, ' 'Ford Ecosport, ' 'Dacia Sandero III, ' 'Skoda Kodiaq, '
 'Toyota Corolla, ' 'Subaru Trezia, ' 'Volkswagen Polo, ' 'Citroen C 3, '
 'BMW Serie 1, ' 'Citroen C-Elysée, ' 'Mercedes-Benz Clase CLA, '
 'Dacia Duster, ' 'Fiat 500X, ' 'Citroen C4 Cactus, ' 'Kia Sportage, '
 'Hyundai i30, ' 'Ford Puma, ' 'Ford Focus, ' 'Renault Megane, '
 'Peugeot 108, ' 'Ford Tourneo Courier, ' 'Nissan Qashqai, '
 'Peugeot 2008, ' 'Mercedes-Benz Clase B, ' 'Fiat 500, ' 'Mazda CX 3, '
 'Skoda Superb, ' 'Dacia Duster II, ' 'Toyota C-HR, ' 'Cupra Formentor, '
 'Chevrolet Aveo, ' 'Suzuki SX4 S-Cross, ' 'Renault Captur, '
 'Jeep Compass, ' 'Seat Tarraco, ' 'Mitsubishi ASX, ' 'BMW X1, '
 'Land Rover Evoque, ' 'Skoda Octavia, ' 'Mercedes-Benz Clase A, '
 'Ford B-Max, ' 'BMW Serie 3, ' 'Skoda Kamiq, ' 'Mazda CX-30, '
 'Citroen Berlingo, ' 'MINI Countryman, ' 'Ford C-Max, ' 'Ford Ka+, '
 'BMW Serie 4, ' 'Honda HR-V, ' 'Smart ForFour, ' 'Audi A1, '
 'Skoda Rapid, ' 'Renault Kadjar, ' 'Audi A3 Limousine, ' 'Ford Fiesta, '
 'Toyota Auris Touring Sports, ' 'Skoda Fabia, ' 'Volvo V40, '
 'Peugeot Rifter, ' 'Volkswagen Tiguan, ' 'Renault Scenic, '
 'Skoda Karoq, ' 'Ford Transit, ' 'Peugeot 5008, ' 'Toyota ProAce Verso, '
 'Ford Kuga, ' 'Peugeot 308, ' 'Citroen C4 Grand Picasso, '
 'BMW Serie 5, ' "Kia pro_cee'd, " 'Opel Combo Life, ' 'Fiat Doblò, '
 'Audi Q3 Sportback, ' 'Toyota AYGO, ' 'Mazda CX 5, ' 'Nissan Juke, '
 'Volkswagen T-Cross, ' 'Toyota RAV 4, ' 'Mitsubishi Space Star, '
 'Peugeot 508, ' 'Hyundai i10, ' 'Ssangyong Tivoli, ' 'Dacia Dokker, '
 'Audi Q3, ' 'Peugeot 3008, ' 'Ford Ka, ' 'Lexus CT-Serie, '
 'Opel Mokka X, ' 'Renault Grand Scenic, ' 'Subaru XV, ' 'Kia Rio, '
 'Citroen C4 Grand Spacetourer, ' 'DS Automobiles DS7 Crossback, '
 'Opel Crossland X, ' 'Hyundai ix20, ' 'Lancia Ypsilon, '
 'Mercedes-Benz Clase C, ' 'Smart ForTwo, ' 'Seat Mii, '
 'Citroen C4 Spacetourer, ' 'Suzuki Swift, ' 'Mercedes-Benz Clase GLA, '
 'Citroen DS3, ' 'Audi A3, ' 'Opel Astra, ' 'Subaru Outback, '
 'Toyota Auris, ' 'Abarth 595C, ' 'Suzuki Jimny, ' 'Volkswagen Golf VII, '
 'Honda Jazz, ' 'Volkswagen Arteon, ' 'Mitsubishi Outlander, '
 'Fiat 500L, ' 'Peugeot Partner, ' 'Seat Alhambra, ' 'Mazda 3, '
 'Land Rover Discovery Sport, ' 'Volkswagen Caddy, ' 'Opel Meriva, '
 'Ford Tourneo, ' 'Suzuki Vitara, ' 'Mazda 6, ' 'Toyota Verso, '
 'Audi A4, ' 'Citroen C4 Picasso, ' 'Dacia Lodgy, ' 'MINI Cabrio, '
 'Mercedes-Benz Vito Tourer, ' 'Opel Adam, ' 'BMW Serie 2, '
 'Chevrolet Cruze, ' 'Volkswagen up!, ' 'Honda Civic, '
 'Alfa Romeo Giulietta, ' 'Kia Venga, ' 'Lexus NX-Serie, ' 'Ford Mondeo, '
 'Dacia Sandero, ' 'Fiat Qubo, ' 'Citroen Spacetourer, ' 'Opel Astra K, '
 'Hyundai IONIQ, ' 'Opel Insignia Grand Sport, ' 'Dacia Logan MCV II, '
 'Opel Combo, ' 'Mercedes-Benz Clase E, ' 'Ford Grand C-Max, '
 'Ssangyong Korando, ' 'Citroen DS4 Crossback, ' 'Peugeot Traveller, '
 'Mitsubishi Eclipse Cross, ' 'Renault Talisman, ' 'BMW X4, ' 'Audi Q5, '
 'Opel Zafira Tourer, ' 'Audi A6, ' 'Audi A5 Sportback, ' 'Nissan Note, '
 'Renault Kangoo, ' 'Opel Insignia, ' 'Volvo XC 70, '
 'Mercedes-Benz Clase GLC, ' 'Opel Insignia Sports Tourer, ' 'Audi Q2, '
 'Seat Altea XL, ' 'Hyundai Elantra, ' 'Ford Tourneo Connect, '
 'Peugeot 207, ' 'Chevrolet Orlando, ' 'Volkswagen Jetta, '
 'Citroen C3 Picasso, ' 'Volkswagen Golf VI, ' 'Chevrolet Trax, '
 'Hyundai ix35, ' 'BMW X3, ' 'Volkswagen Passat, ' 'Renault Laguna, '
 'Fiat Freemont, ' 'Opel Astra GTC, ' 'Citroen DS5, ' 'Alfa Romeo MiTo, '
 'Mercedes-Benz Clase SLK, ' 'Opel Karl, ' 'Kia Soul, ' 'Suzuki SX4, '
 'Citroen C1, ' 'Dacia Logan II, ' 'Ford Fusión, ' 'Nissan Pixo, '
 'Nissan X-Trail, ' 'Renault Fluence, ' 'BMW X2, ' 'Toyota Avensis, '
 'Opel Grandland X, ' 'Mercedes-Benz Clase V, ' 'Kia Niro, '
 'Seat Altea, ' 'BMW Z4, ' 'Skoda Yeti, ' 'Volkswagen T6 Multivan, '
 'Jaguar F-Pace, ' 'MINI Clubman, ' 'Volkswagen Scirocco, ' 'Honda CR-V, '
 'Audi A7, ' 'Mercedes-Benz Viano, ' 'Peugeot Expert, ' 'Nissan Pulsar, '
 'Ford Grand Tourneo Connect, ' 'MG ZS, ' 'Opel Mokka, '
 'Hyundai i30 Fastback, ' 'Volkswagen Golf, ' 'Lexus RC-Serie, '
 'Hyundai i20 Active, ' 'Renault Koleos, '
 'Volkswagen Golf VII Sportsvan, ' 'Alfa Romeo Stelvio, '
 'Nissan NV200 Evalia, ']



 Únicos  de columna "VERSION":

 ['1.5 TSI Style' '1.2 PureTech C-Series' '1.0 TSI Xperience'
 '1.0 Mild-Hybrid City Life' '1.2 Essence 2WD' '1.2 GS Line'
 '1.2 PureTech Signature' '1.0 TGDI Klass' '1.6 Hybrid TGDI Maxx'
 '1.0 TSI Advance' '1.0 DPi Concept' 'Cooper' '1.5 TSI FR Go'
 '0.9 TCe Comfort' '1.0 Gse Mild-Hybrid Urban' '1.0 TGDI Emotion'
 '1.5 Blue-HDi Feel' '1.3 TCe RS Line GPF EDC' '1.5 Hybrid Select'
 '1.2 Gasolina' '1.4 Turbo S-Design' '1.0 IG-T N-Tec'
 '1.3 TCe EDC Intens Mild Hybrid' '1.0 TGDI Mild-Hybrid iMT Drive'
 '0.9 Energy Zen' '1.5 Hybrid Style' '1.4 T- Jet Turismo' '1.2 Lounge'
 '1.5 EcoBlue TDCi Kombi Trend L1' '1.3 T4 4xe Plug-In-Hybrid Limited'
 '1.5 TSI ACT FR' '1.2 PureTech Active' '1.6 Hybrid Klass'
 '1.6 CRDi Klass ' '1.6 TGDI GT' '0.9 Turbo Business'
 '1.5 Mild-Hybrid Black Tech Edition' '1.5 T3 Momentum Pro 2WD'
 '1.0 TCe Zen' '1.5 Kombi Trend' '1.2 TSI Reference' '0.9 TCe Stepway'
 '1.0 EcoBoost Titanium' '0.9 TCe Stepway Essential' '1.6 SLE 2WD'
 '1.0 TCe Stepway Comfort' '1.5 TSI ACT Style' '1.0 SCe Stepway Essential'
 '2.0 Hybrid Feel!' '1.4 Diesel Limited ' 'PureTech Shine'
 '1.2 PureTech Active Pack' '118i' '1.8 Hybrid Active Plus'
 '1.2 PureTech Shine' 'CLA 200' '1.2 TCe Laureate 4x2'
 '1.6 T-GDI Hybrid Tekno Sky' '1.3 Firefly Sport' '1.6 TDI Style Edition'
 '1.0 Mild-Hybrid Sport' '1.2 PureTech Origins' '0.9 TCe Energy Zen'
 '1.6 GDI Drive 2WD' '1.5 T-GDI Mild-Hybrid N Line'
 '1.0 EcoBoost Mild-Hybrid Titanium Design'
 '1.6 CRDi Mild-Hybrid diesel GT Line' '1.4 Lounge' '1.6 CRDi Klass'
 '1.0 CVVT Eco-Dynamics Concept' '1.0 EcoBoost ST-Line'
 '1.0 TSI Reference' '1.0 TSI Ecomotive Reference' '0.9 TCe Laureate'
 '2.0 T-GDI N' '1.0 Mild-Hybrid Connect' '1.5 Blue dCi Zen' '1.5 Active'
 '2.0 T-GDI N Performance' '1.4 Selective' '1.0 VTi TOP Allure'
 '1.0 Trend' '1.5 Hybrid Active' '1.5 Dual VVT-iE Active'
 '1.7 dCi N-Connecta' '1.3 TCe Intens Microhíbrido' '1.7 CRDi Drive 2WD'
 '1.6 Blue-HDi Style' 'B 180 d Urban' '1.6 e-HDi ETG Feel'
 '1.0 EcoBoost Active' '1.5 dCi Acenta' '1.6 Hybrid E-Tech Zen'
 '1.0 EcoBoost Mild-Hybrid ST-Line' '1.0 EcoBoost Trend'
 '1.2 PureTech Allure' '1.0 MPI Style' '1.0 TGDi Limited 4x2'
 '2.0 Skyactiv-G Zenith' '1.6 SCe Essential' '2.0 Hybrid Advance'
 '1.5 TSI' '1.6 CRDi Mild-Hybrid Business 4WD' '1.4 LS' '1.0 DITC GLX'
 '1.3 TCe Intens EDC Mild Hybrid' '1.5 TSI Xcellence Edition' '1.4 Sport '
 '1.5 Blue dCi SL Xplore' '1.6 CRDi Mild-Hybrid Drive 2WD'
 '2.0 TDI Xcellence ' '1.6 Motion 160 MPI'
 '1.6 TGDI GT Line Essential 2WD' '1.5 TGDI Mild-Hybrid Drive'
 '1.0 VTi Allure' 'sDrive 18d M' 'D150 AWD' '2.0 TDI Scout 4x4' 'A 200'
 '2.0 TDI Xcellence Edition' '1.5 Business Plus 2WD'
 '320d M Sport Mild-Hybrid' '1.0 TSI Active' '1.5 TSI FR Edition'
 '1.0 TGDI Tech' '1.6 GR 192kW High Performance'
 '2.0 Skyactiv-X Mild-Hybrid Evolution 2WD' '1.2 TSI Advance BlueMotion'
 '1.2 Selective' '1.2 PureTech Style' '1.2 PureTech Shine Talla XL'
 '1.5 dCi SL Nomada 2018' '1.6 TDI Xcellence Plus' '1.4 PHEV Sportline iV'
 ' TCE GPF SL Xplore  4x2' '1.2 Ti-VCT Ultimate' '1.5 T3'
 '420d Sport Line' '1.0 Ambiance' '1.2 PureTech Feel' '1.6 Pop Star'
 '1.5 Executive' '0.9 Passion' '35 TFSI Sportback ' '1.0 TSI Like'
 '1.5 BLUE dCi Zen' '35 TDI S line' '1.4 120 Aniversario'
 '1.6 Hybrid Tech' '1.2 Trend' '1.8 Hybrid Feel!' '1.0 MPI Ambition'
 '2.0 T2 Momentum' '1.0 TSI Style' '2.0 Mild-Hybrid Skyactiv-G Origin 2WD'
 '1.0 MPI Reference' '1.5 TSI ACT Ambition' '1.6 Basic 2WD'
 '1.5 Blue-HDi Allure Standard' '1.5 TSI FR' '1.0 PureTech Live Edition'
 '1.5 TSI Sport DSG' '1.6 CRDi Mild-Hybrid N Line '
 '1.2 TCe Energy BOSE Edition' '1.2 Collection' '2.0 TSI GTI'
 'Custom 2.0 TDCI 290 L2 Trend' '1.5 Blue-HDi GT Line' '1.0 SCe Life'
 'CLA 180' '1.5 City Family Active L1' '1.2 PureTech Rip Curl'
 '2.0 TDCi Trend 4x2' '1.0 Life' '2.0 TDI Style Edition'
 '2.5 Plug-In Hybrid ST-Line X' '520d Luxury Line' '1.0 EcoBoost Edition'
 '318d Mild-Hybrid' '1.6 Essential 4x2' '1.0 TSI Ambition'
 '1.0 TGDI GT Line' '1.5 Hybrid Active ' '1.2 Turbo Selective L'
 '1.3 M-Jet Base' '35 TDI advanced' '1.0 City' '2.0 Evolution 2WD'
 '30 TFSI Sportback' '2.0 TDCi Titanium' 'DIGT N-Connecta'
 '1.0 TSI Style Connect' '1.0 TSI Edition' '1.0 Reference Plus'
 '1.3 TCe SL Xplore 4x4' '1.0 TSI FR' '2.5 Hybrid Advance ' '1.2 Motion'
 '1.5 Hybrid GR Sport' '1.5 T3 Momentum 2WD' '1.0 TGDI Drive'
 '1.2 Ti-VCT Active' '1.33 Dual VVT-i Active' '1.5 dCi Laureate 4x2'
 '1.5 Hybrid Feel' '1.6 PureTech Allure' '1.2 Tecno Edition'
 '1.6 Limited 4x2' '0.9 TCe SL Nomada' '116d' '1.5 Blue-HDi Feel M'
 '2.0 T3 R-Design Momentum' '1.8 Hybrid Active' '1.2 Essence'
 '1.0 IG-T Moonlight' 'B 200 AMG Line' '1.5 Hybrid Advance'
 '1.5 Ti-VCT Titanium' '1.6 Essential' '35 TFSI S Line'
 '1.5 Blue-HDi Active' '1.2 Titanium' '1.5 TDCi Trend'
 '1.6 Blue-HDi Shine' 'CT 200h Eco' '1.2 TCe S-Edition' '1.0 X-Cite'
 '1.0 IG-T Energy Touch' '1.3 TCe Zen Energy' '1.4 M-Air Night Eagle 4x2'
 '1.6 Sport Plus AWD' '1.6 SCe Access' '118d'
 '35 TFSI Advanced Mild-Hybrid' '1.2 Concept' '1.0 Edition'
 '1.0 SCe Essential' '2.2 Sd4 Dynamic' '1.5 dCi Energy Intens'
 '1.0 MPI Like' '0.9 Energy Intens' '1.6 PureTech Shine'
 '1.6 PureTech Performance Line' '1.0 T-GDI Mild-Hybrid Maxx 2WD'
 '1.6 CDTI DPF Excellence' '1.0 X-Tech' '1.4 Klass Bluedrive'
 '120d xDrive M Sport' '1.6 Motion 2WD' '1.2 TSI FR Crono'
 '0.9 TCe Zen Energy' '1.6 Blue-HDi Feel' '2.0 TDI Xcellence Plus 4Drive'
 '1.0 X-Play' '1.2 TSI Ambition' '1.4 Concept' '1.6 TDI CR Xcellence'
 '1.2 Gold' '2.0 Blue-HDi First Edition' '220d AMG Line'
 '1.0 Micro Hybrid Drive passion' '1.5 Blue-HDi Shine M' '1.2 VTi Shine'
 'CT 200h Business' '35 TDI' '0.9 Energy Limited' 'C 200 Mild-Hybrid'
 '2.0 TDI Sportline' '1.4 Edition' '1.0 Style' '1.0 TGDI Concept'
 '1.5 dCi Energy Zen' 'Talla XL PureTech Shine ' '1.2 TSI Sport BMT'
 '1.0 GLX SHVS Mild-Hybrid' '1.4 Turbo Color Edition Start/Stop 4x2'
 '0.9 Turbo Passion' '1.0 EcoTSI Style' 'GLA 180'
 '1.1 Ti-VCT Limited Edition' '1.6 THP GT Line' '1.0 TSI Sport'
 '1.6 HDi Graphic Art' '1.8 TFSI Ambition' '1.5 dCi Energy Limited'
 '1.6 Drive' '1.0 52 mhd Passion' '1.2 Authentique' '1.6 Emotion 2WD'
 '1.5 EcoBlue ST-Line' '1.2 Klass' '1.2 TSI Reference Plus'
 '2.0 TDI Sport' '2.5 Zenith Safety White' '1.6 CDTI 120 Aniversario'
 'GLA 200 d Urban' '1.2 PureTech Tonic' '2.5 Hybrid 4x2 Business Edition'
 '1.0 Titanium' '1.6 dCi Energy Zen' '1.1 Trend' '1.6 DI-D Motion 2WD'
 '2.5 Executive Plus' '1.6 dCi N-Connecta 4x2' '1.8 Hybrid Advance'
 '1.2 Ti-VCT White Edition' '1.0 TCe Stepway' '2.0 Blue-HDi GT Line'
 'GLA 200 d' 'C 200 d' '1.4 Turismo' '1.0 T-GDI Maxx 2WD' '1.0 City Cross'
 '1.3 JLX' '1.0 TSI Ready2Go' '1.5 dCi Ambiance' '1.3 i-VTEC Comfort'
 'PureTech Allure Standard ' '1.4 Turbo Innovation' '1.5 TSI R-Line'
 '2.0 Motion 2WD' '1.5 dCi Energy Tech Road' '1.2 TCe Energy Zen'
 '1.5 ST EcoTSI FR' 'A 180 CDI AMG' '1.4 Pop Star' '1.5 dCi Prestige'
 '1.5 TSI ACT Style Visio Edition' '1.5 Blue-HDi Allure'
 '1.0 TSI Style Plus' '1.6 Blue-HDi Active TEPEE' '1.6 Sport FWD'
 '1.0 Tecno' '1.8 Hybrid Business Plus' '2.0 TDI Style '
 '1.2 VTi Collection' 'CLA 200 AMG Line' '1.2 VTi Urban Shot'
 '1.8 D Evolution' '2.0 ed4 4x2 SE' '1.2 Expression' '1.2 Reference'
 '1.0 Business' '1.6 Hybrid GT Pack PHEV' '1.4 Turbo Selective ecoFlex'
 '0.9 Energy Dynamique' '0.9 Turbo Basis passion' '1.4 CRDi Essence'
 '1.4 Advance' '1.5 dCi Dynamique eco2' '2.0 Td4 SE' '1.6 MHEV Drive 2WD'
 '1.4 TSI Trendline BlueMotion' '2.5 Hybrid Advance 4WD' 'A 220'
 '1.0 TGDi Sport 4x2' '1.7 CDTI Selective' '1.2 GT Line'
 '2.5 Hybrid Advance' '1.4 TSI Style' 'One' '1.4 Essence'
 '1.6 PureTech Active' '1.5 Blue-HDi Shine Talla M'
 '1.4 M-Air Limited 4WD' '1.2 Acenta' '1.4 GLE' '1.2 SC Reference'
 '2.0 Style' '1.0 EcoBoost Trend ' '1.2 Ambition' '1.6 Comfort'
 '1.6 25 Aniversario 4x2' '1.4 TSI Advance' '2.0 CRDi Tecno BlueDrive 2WD'
 '1.2 PureTech Live Edition' '1.6 SL Nomada' '1.5 Ti-VCT Trend'
 '1.6 SCe SL Nomada' '1.6 HDi Exclusive' '1.33 Dual VVT-i Feel!'
 'Cooper D' '1.6 HDi Access' '1.4 TDI Edition BlueMotion'
 '2.0 Si4 SE Dynamic' '1.2 TCe Comfort' '1.2 TCe Energy Zen Sport Tourer'
 '114 CDI Larga' '1.0 TSI FR Edition'
 '2.0 Skyactiv-X Mild-Hybrid Zenith 2WD' 'PureTech Feel' '120i M Sport'
 '2.0 Diesel Executive Plus' '1.4 XER Glam' '1.0 Style Plus'
 '1.2 TSI ST Reference' '220i Active Tourer Advantage'
 '1.4 TDI Sport BlueMotion' '1.4 CRDi Concept' 'D150 Mild-Hybrid'
 '1.2 Ambiance' '1.6 LS' '1.6 N-Connecta' '1.0 TSI High up! BlueMotion'
 '2.0 D3 2WD' '1.0 VTEC Elegance' '1.2 City S' '2.5 Hybrid Business'
 '1.6 LT' '1.4 Turbo Sport' '1.6 Visia' '1.4 VTi Tonic' 'NX 300h Eco'
 'C 220 d Estate' '1.6 Active' '1.2 TSI Style' '1.6 TDI Ambition'
 '1.0 EcoBoost Courier Trend' '1.6 TDCi Business' '1.2 PureTech GT Line'
 '1.0 TGDI Klass 2WD' '1.6 TGDI Style 2WD' '1.6 CDTI Selective'
 '1.1 CRDi Go' '2.0 TDI T1 BlueMotion' '2.0 Active'
 '1.0 Reference Full Connect' 'Active Standard  PureTech'
 '1.3 M-Jet Trekking' '2.0 Blue-HDi Airdream Intensive'
 '1.4 M-Air Limited 4x2' '1.2 VTi Active'
 '1.6 Blue-HDi 20 Aniversario Edition' '1.25 Trend' '1.3 M-Jet Easy'
 '1.4 CRDi Drive' '1.4 Business' '1.2 Turbo Active' '1.6 Blue-HDi Allure'
 '1.6 MPI Motion' '2.0 Sport Plus' '2.0 Blue-HDi Business XL'
 '1.0 Full Connect' '1.6 CDTI Dynamic ' '1.0 TGDi Longitude 4x2'
 '1.2 TSI Style I-Tech 30 Aniversario' '1.2 TCe Zen Energy'
 '1.6 dCi Energy GT-Line' '1.6 TDI Business BlueMotion Tech' '1.2 Drive'
 '1.5 BlueHDi Allure' '1.3 M-Jet Panorama Active N1' '1.0 Visia'
 '1.6 Hybrid Tecno' 'C 220 d Avantgarde' '1.4 M-Air Longitude 4x2'
 '1.2 TSI Sport' 'C 220 Diesel AMG Line' '1.5 Acenta'
 '2.0 CDTI Excellence' '218d M Sport' '1.4 Easy' '0.9 Stepway'
 '1.8 Hybrid Feel! Edition' '1.3 CDTI L1H1' '1.2 Spirit'
 '1.2 TCe Sport Tourer Zen Energy' 'E 220 d AMG' '1.2 TCe Intens'
 '1.0 TGDI Tecno' '1.0 Ecoboost Titanium' '1.2 Advance BlueMotion'
 '1.5 dCi BOSE EDC ' '1.2 PureTech First' '1.2 TSI Style Connect Plus'
 '1.6 dCi Acenta' '2.0 TDI Sport 4Motion' '1.6 TDI Attraction'
 '2.0 Td4 HSE' '1.5 EcoBoost Titanium' '2.0 TD Limited Plus 4x2'
 '1.2 Reference I-Tech 30 Aniversario' '1.5 dCi N-Connecta'
 '1.2 PureTech Connected Chic' '1.2 TCe  Zen' '1.3 100 Active'
 '1.5 dCi S.T GT-Style' '2.0 Blue-HDi Business Standard'
 '1.5 T-MIVEC Spirit 4WD' '1.6 TCe Energy Intens'

In [ ]:
# Para ver que cambios debemos hacer a los valores de las columnas, mostramos el primer valor de las columnas:

for x in df.columns:
  print(f" Columna \"{x.upper()}\":\n{df[x][0]}") # imprime 3 valores porque le estoy indicando indice con el "0" y hay 3 índices con valor cero.
  print()

 Columna "MARCA":
0          Seat Ateca,
0    Dacia Sandero II,
0      Peugeot Rifter,
Name: Marca, dtype: object

 Columna "MODELO":
0          Seat Ateca,
0    Dacia Sandero II,
0      Peugeot Rifter,
Name: Modelo, dtype: object

 Columna "VERSION":
0          1.5 TSI Style
0           1.2 Ambiance
0    1.2 e-THP Active L2
Name: Version, dtype: object

 Columna "PRECIO":
0    28.399 €
0     7.199 €
0    22.499 €
Name: Precio, dtype: object

 Columna "COMBUSTIBLE":
0    Gasolina
0    Gasolina
0    Gasolina
Name: Combustible, dtype: object

 Columna "AÑO":
0    12.2021
0     3.2015
0     3.2019
Name: Año, dtype: object

 Columna "KMS":
0       330 km
0    70.363 km
0    72.288 km
Name: Kms, dtype: object

 Columna "POTENCIA":
0    150 CV / 110 kW
0      75 CV / 55 kW
0     110 CV / 81 kW
Name: Potencia, dtype: object

 Columna "PUERTAS":
0      5
0    5.0
0      5
Name: Puertas, dtype: object

 Columna "CAMBIO":
0    Cambio tipo automático
0        Cambio tipo manual
0        Cambio tipo manual
Name: Cambio, dtype: object

 Columna "COLOR":
0      Gris
0    Blanco
0      Azul
Name: Color, dtype: object

 Columna "DISTRIBUIDOR":
0    Autohero.com
0    Autohero.com
0    Autohero.com
Name: Distribuidor, dtype: object

In [ ]:
df.head(5)

,Marca,Modelo,Version,Precio,Combustible,Año,Kms,Potencia,Puertas,Cambio,Color,Distribuidor
0,"Seat Ateca,","Seat Ateca,",1.5 TSI Style,28.399 €,Gasolina,12.2021,330 km,150 CV / 110 kW,5,Cambio tipo automático,Gris,Autohero.com
4,"Citroen C3 Aircross,","Citroen C3 Aircross,",1.2 PureTech C-Series,17.099 €,Gasolina,09.2020,1695 km,110 CV / 81 kW,5,Cambio tipo manual,Gris,Autohero.com
5,"Seat Arona,","Seat Arona,",1.0 TSI Xperience,21.599 €,Gasolina,01.2023,1771 km,110 CV / 81 kW,5,Cambio tipo manual,Rojo,Autohero.com
6,"Fiat Panda,","Fiat Panda,",1.0 Mild-Hybrid City Life,13.599 €,Gasolina,09.2022,2019 km,70 CV / 51 kW,5,Cambio tipo manual,Gris,Autohero.com
7,"Hyundai Bayon,","Hyundai Bayon,",1.2 Essence 2WD,17.199 €,Gasolina,07.2022,2794 km,84 CV / 62 kW,5,Cambio tipo manual,Blanco,Autohero.com

Cambiamos diferentes valores de las columnas a sus valores correctos:

In [ ]:
# Cambiamos los diferentes valores de las columnas a sus valores correctos, limpios para analizar:


df["Marca"] = df["Marca"].map(lambda x: x.replace(",","").strip().split(" ")[0])

df["Modelo"] = df["Modelo"].map(lambda x: x.strip().replace(",", "").split(" ")[1:])
df["Modelo"] = df["Modelo"].map(lambda x: " ".join(x))

df["Version"].map(lambda x: x.strip())

# 'Precio' tiene como ejemplo de valores esto: '28.399\xa0€'
# Limpiamos todo esto para quedarnos solo con "28399"
df["Precio"] = df["Precio"].map(lambda x: x.replace("\xa0€","").replace(".","").strip())

df["Combustible"] = df["Combustible"].map(lambda x: x.strip())

#Columna "Año" es algo más enrevesado, lo hacemos más abajo, aparte.

#Columna 'Kms' tiene como ejemplo de valor: '61.395 km', vamos a quedarnos con: '61395'
df["Kms"] = df["Kms"].apply(lambda x: x.strip().split(" ")[0].replace('.',''))

df["Potencia"] = df["Potencia"].apply(lambda x: x.strip().split(" ")[0])

# Columna "Puertas" vamos a unir los valores "2" y "4" con los de "3" y "5", respectivamente.
# Los valores únicos de "Puertas" son ['5', '3', '2', '4', '5.0', '4.0', '2.0', '3.0'].
# Antes de cambiar valores, lo pasamos a cadena todo (aunque ya está como objeto) porque me da error debido a los .0 por alguna razón.
df["Puertas"] = df["Puertas"].astype(str)
df['Puertas'] = df['Puertas'].apply(lambda x: x.replace('.0','')) # quitamos los '.0' de algunos valores.

df["Puertas"].loc[df[df["Puertas"] == '2'].index] = '3'
df["Puertas"].loc[df[df["Puertas"] == '4'].index] = '5'

#Columna "Cambio" tiene los valores únicos:'Cambio tipo automático','Cambio tipo manual','Semi-automático','Doble embrague'.
#Vamos a convertirlos a: "automático, manual, semi-automático y doble embrague"
def convertir_cambio(cambio):
  if cambio == "Cambio tipo automático":
    cambio = "Automático"
  elif cambio == "Cambio tipo manual":
    cambio = "Manual"
  elif cambio == "Semi-automático":
    cambio = "Semi-automático"
  elif cambio == "Doble embrague":
    cambio = "Doble embrague"
  else: print("Algo salió mal!, debe de haber algún espacio en blanco entre las cadenas")
  return cambio
df["Cambio"] = df["Cambio"].apply(lambda x: x.strip())
df["Cambio"] = df["Cambio"].apply(lambda x: convertir_cambio(x))
df["Cambio"]

#Columna "Color" está correcta aunque vamos a limpiarle por si tuviera algún espacio en blanco escondido
df["Color"] = df["Color"].apply(lambda x: x.strip())

#Columna "Distribuidor" está correcta puesto que la creamos nosotros mismos.

<ipython-input-83-d8388932a9e0>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Marca"] = df["Marca"].map(lambda x: x.replace(",","").strip().split(" ")[0])
<ipython-input-83-d8388932a9e0>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Modelo"] = df["Modelo"].map(lambda x: x.strip().replace(",", "").split(" ")[1:])
<ipython-input-83-d8388932a9e0>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Modelo"] = df["Modelo"].map(lambda x: " ".join(x))
<ipython-input-83-d8388932a9e0>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Precio"] = df["Precio"].map(lambda x: x.replace("\xa0€","").replace(".","").strip())
<ipython-input-83-d8388932a9e0>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Combustible"] = df["Combustible"].map(lambda x: x.strip())
<ipython-input-83-d8388932a9e0>:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Kms"] = df["Kms"].apply(lambda x: x.strip().split(" ")[0].replace('.',''))
<ipython-input-83-d8388932a9e0>:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Potencia"] = df["Potencia"].apply(lambda x: x.strip().split(" ")[0])
<ipython-input-83-d8388932a9e0>:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Puertas"] = df["Puertas"].astype(str)
<ipython-input-83-d8388932a9e0>:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Puertas'] = df['Puertas'].apply(lambda x: x.replace('.0','')) # quitamos los '.0' de algunos valores.
<ipython-input-83-d8388932a9e0>:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Puertas"].loc[df[df["Puertas"] == '2'].index] = '3'
<ipython-input-83-d8388932a9e0>:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Puertas"].loc[df[df["Puertas"] == '4'].index] = '5'
<ipython-input-83-d8388932a9e0>:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Cambio"] = df["Cambio"].apply(lambda x: x.strip())
<ipython-input-83-d8388932a9e0>:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Cambio"] = df["Cambio"].apply(lambda x: convertir_cambio(x))
<ipython-input-83-d8388932a9e0>:51: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Color"] = df["Color"].apply(lambda x: x.strip())

### Columna "Año":

In [ ]:
df["Año"].head(2)

0    12.2021
4    09.2020
Name: Año, dtype: object

In [ ]:
# Convertimos en string y nos quedamos con el año

df["Año"] = df["Año"].astype(str)

df["Año"] = df["Año"].apply(lambda x: x.split(".")[-1])
df["Año"].head()

<ipython-input-85-85230bbef415>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Año"] = df["Año"].astype(str)
<ipython-input-85-85230bbef415>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Año"] = df["Año"].apply(lambda x: x.split(".")[-1])

0    2021
4    2020
5    2023
6    2022
7    2022
Name: Año, dtype: object

In [ ]:
# Le añadimos un "0" a los años que al pasarlos a cadena, se les quitó el cero de la derecha.
def añadir_cero(string):
  if len(string) < 4:
    string = string + "0"
  return string

df["Año"] = df["Año"].apply(lambda x: añadir_cero(x))
df["Año"].head()

<ipython-input-86-65b95eb76ec5>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Año"] = df["Año"].apply(lambda x: añadir_cero(x))

0    2021
4    2020
5    2023
6    2022
7    2022
Name: Año, dtype: object

In [ ]:
#Comprobamos que los valores estén todos correctos y que no se haya modificado ningún otro al cambio a string:

df["Año"].unique()

array(['2021', '2020', '2023', '2022', '2019', '2018', '2017', '2012',
       '2013', '2016', '2014', '2015', '2011'], dtype=object)

Comprobamos que todas las columnas estén correctas:

In [ ]:
# Valores únicos por columna:

for x in list(df.columns):
  print(f" Únicos  de columna \"{x.upper()}\": \n\n {df[x].unique()}")
  print("\n""\n")

 Únicos  de columna "MARCA":

 ['Seat' 'Citroen' 'Fiat' 'Hyundai' 'Opel' 'Peugeot' 'Volkswagen' 'Kia'
 'MINI' 'Dacia' 'Renault' 'Mazda' 'Nissan' 'Toyota' 'Abarth' 'Ford' 'Jeep'
 'Volvo' 'Skoda' 'Subaru' 'BMW' 'Mercedes-Benz' 'Cupra' 'Chevrolet'
 'Suzuki' 'Mitsubishi' 'Land' 'Honda' 'Smart' 'Audi' 'Ssangyong' 'Lexus'
 'DS' 'Lancia' 'Alfa' 'Jaguar' 'MG']



 Únicos  de columna "MODELO":

 ['Ateca' 'C3 Aircross' 'Arona' 'Panda' 'Bayon' 'Corsa' '208' 'i20' 'Kona'
 'T-Roc' 'Picanto' 'MINI' 'León' 'Sandero II' 'XCeed' 'C4' 'Clio' '2'
 'Punto' 'Tipo' 'Micra' 'Arkana' 'Stonic' 'Twingo' 'Yaris' '595' '500C'
 'Transit Connect' 'Renegade' 'Ibiza' 'Tucson' "cee'd" 'XC 40' 'Ecosport'
 'Sandero III' 'Kodiaq' 'Corolla' 'Trezia' 'Polo' 'C 3' 'Serie 1'
 'C-Elysée' 'Clase CLA' 'Duster' '500X' 'C4 Cactus' 'Sportage' 'i30'
 'Puma' 'Focus' 'Megane' '108' 'Tourneo Courier' 'Qashqai' '2008'
 'Clase B' '500' 'CX 3' 'Superb' 'Duster II' 'C-HR' 'Formentor' 'Aveo'
 'SX4 S-Cross' 'Captur' 'Compass' 'Tarraco' 'ASX' 'X1' 'Rover Evoque'
 'Octavia' 'Clase A' 'B-Max' 'Serie 3' 'Kamiq' 'CX-30' 'Berlingo'
 'Countryman' 'C-Max' 'Ka+' 'Serie 4' 'HR-V' 'ForFour' 'A1' 'Rapid'
 'Kadjar' 'A3 Limousine' 'Fiesta' 'Auris Touring Sports' 'Fabia' 'V40'
 'Rifter' 'Tiguan' 'Scenic' 'Karoq' 'Transit' '5008' 'ProAce Verso' 'Kuga'
 '308' 'C4 Grand Picasso' 'Serie 5' "pro_cee'd" 'Combo Life' 'Doblò'
 'Q3 Sportback' 'AYGO' 'CX 5' 'Juke' 'T-Cross' 'RAV 4' 'Space Star' '508'
 'i10' 'Tivoli' 'Dokker' 'Q3' '3008' 'Ka' 'CT-Serie' 'Mokka X'
 'Grand Scenic' 'XV' 'Rio' 'C4 Grand Spacetourer'
 'Automobiles DS7 Crossback' 'Crossland X' 'ix20' 'Ypsilon' 'Clase C'
 'ForTwo' 'Mii' 'C4 Spacetourer' 'Swift' 'Clase GLA' 'DS3' 'A3' 'Astra'
 'Outback' 'Auris' '595C' 'Jimny' 'Golf VII' 'Jazz' 'Arteon' 'Outlander'
 '500L' 'Partner' 'Alhambra' '3' 'Rover Discovery Sport' 'Caddy' 'Meriva'
 'Tourneo' 'Vitara' '6' 'Verso' 'A4' 'C4 Picasso' 'Lodgy' 'Cabrio'
 'Vito Tourer' 'Adam' 'Serie 2' 'Cruze' 'up!' 'Civic' 'Romeo Giulietta'
 'Venga' 'NX-Serie' 'Mondeo' 'Sandero' 'Qubo' 'Spacetourer' 'Astra K'
 'IONIQ' 'Insignia Grand Sport' 'Logan MCV II' 'Combo' 'Clase E'
 'Grand C-Max' 'Korando' 'DS4 Crossback' 'Traveller' 'Eclipse Cross'
 'Talisman' 'X4' 'Q5' 'Zafira Tourer' 'A6' 'A5 Sportback' 'Note' 'Kangoo'
 'Insignia' 'XC 70' 'Clase GLC' 'Insignia Sports Tourer' 'Q2' 'Altea XL'
 'Elantra' 'Tourneo Connect' '207' 'Orlando' 'Jetta' 'C3 Picasso'
 'Golf VI' 'Trax' 'ix35' 'X3' 'Passat' 'Laguna' 'Freemont' 'Astra GTC'
 'DS5' 'Romeo MiTo' 'Clase SLK' 'Karl' 'Soul' 'SX4' 'C1' 'Logan II'
 'Fusión' 'Pixo' 'X-Trail' 'Fluence' 'X2' 'Avensis' 'Grandland X'
 'Clase V' 'Niro' 'Altea' 'Z4' 'Yeti' 'T6 Multivan' 'F-Pace' 'Clubman'
 'Scirocco' 'CR-V' 'A7' 'Viano' 'Expert' 'Pulsar' 'Grand Tourneo Connect'
 'ZS' 'Mokka' 'i30 Fastback' 'Golf' 'RC-Serie' 'i20 Active' 'Koleos'
 'Golf VII Sportsvan' 'Romeo Stelvio' 'NV200 Evalia']



 Únicos  de columna "VERSION":

 ['1.5 TSI Style' '1.2 PureTech C-Series' '1.0 TSI Xperience'
 '1.0 Mild-Hybrid City Life' '1.2 Essence 2WD' '1.2 GS Line'
 '1.2 PureTech Signature' '1.0 TGDI Klass' '1.6 Hybrid TGDI Maxx'
 '1.0 TSI Advance' '1.0 DPi Concept' 'Cooper' '1.5 TSI FR Go'
 '0.9 TCe Comfort' '1.0 Gse Mild-Hybrid Urban' '1.0 TGDI Emotion'
 '1.5 Blue-HDi Feel' '1.3 TCe RS Line GPF EDC' '1.5 Hybrid Select'
 '1.2 Gasolina' '1.4 Turbo S-Design' '1.0 IG-T N-Tec'
 '1.3 TCe EDC Intens Mild Hybrid' '1.0 TGDI Mild-Hybrid iMT Drive'
 '0.9 Energy Zen' '1.5 Hybrid Style' '1.4 T- Jet Turismo' '1.2 Lounge'
 '1.5 EcoBlue TDCi Kombi Trend L1' '1.3 T4 4xe Plug-In-Hybrid Limited'
 '1.5 TSI ACT FR' '1.2 PureTech Active' '1.6 Hybrid Klass'
 '1.6 CRDi Klass ' '1.6 TGDI GT' '0.9 Turbo Business'
 '1.5 Mild-Hybrid Black Tech Edition' '1.5 T3 Momentum Pro 2WD'
 '1.0 TCe Zen' '1.5 Kombi Trend' '1.2 TSI Reference' '0.9 TCe Stepway'
 '1.0 EcoBoost Titanium' '0.9 TCe Stepway Essential' '1.6 SLE 2WD'
 '1.0 TCe Stepway Comfort' '1.5 TSI ACT Style' '1.0 SCe Stepway Essential'
 '2.0 Hybrid Feel!' '1.4 Diesel Limited ' 'PureTech Shine'
 '1.2 PureTech Active Pack' '118i' '1.8 Hybrid Active Plus'
 '1.2 PureTech Shine' 'CLA 200' '1.2 TCe Laureate 4x2'
 '1.6 T-GDI Hybrid Tekno Sky' '1.3 Firefly Sport' '1.6 TDI Style Edition'
 '1.0 Mild-Hybrid Sport' '1.2 PureTech Origins' '0.9 TCe Energy Zen'
 '1.6 GDI Drive 2WD' '1.5 T-GDI Mild-Hybrid N Line'
 '1.0 EcoBoost Mild-Hybrid Titanium Design'
 '1.6 CRDi Mild-Hybrid diesel GT Line' '1.4 Lounge' '1.6 CRDi Klass'
 '1.0 CVVT Eco-Dynamics Concept' '1.0 EcoBoost ST-Line'
 '1.0 TSI Reference' '1.0 TSI Ecomotive Reference' '0.9 TCe Laureate'
 '2.0 T-GDI N' '1.0 Mild-Hybrid Connect' '1.5 Blue dCi Zen' '1.5 Active'
 '2.0 T-GDI N Performance' '1.4 Selective' '1.0 VTi TOP Allure'
 '1.0 Trend' '1.5 Hybrid Active' '1.5 Dual VVT-iE Active'
 '1.7 dCi N-Connecta' '1.3 TCe Intens Microhíbrido' '1.7 CRDi Drive 2WD'
 '1.6 Blue-HDi Style' 'B 180 d Urban' '1.6 e-HDi ETG Feel'
 '1.0 EcoBoost Active' '1.5 dCi Acenta' '1.6 Hybrid E-Tech Zen'
 '1.0 EcoBoost Mild-Hybrid ST-Line' '1.0 EcoBoost Trend'
 '1.2 PureTech Allure' '1.0 MPI Style' '1.0 TGDi Limited 4x2'
 '2.0 Skyactiv-G Zenith' '1.6 SCe Essential' '2.0 Hybrid Advance'
 '1.5 TSI' '1.6 CRDi Mild-Hybrid Business 4WD' '1.4 LS' '1.0 DITC GLX'
 '1.3 TCe Intens EDC Mild Hybrid' '1.5 TSI Xcellence Edition' '1.4 Sport '
 '1.5 Blue dCi SL Xplore' '1.6 CRDi Mild-Hybrid Drive 2WD'
 '2.0 TDI Xcellence ' '1.6 Motion 160 MPI'
 '1.6 TGDI GT Line Essential 2WD' '1.5 TGDI Mild-Hybrid Drive'
 '1.0 VTi Allure' 'sDrive 18d M' 'D150 AWD' '2.0 TDI Scout 4x4' 'A 200'
 '2.0 TDI Xcellence Edition' '1.5 Business Plus 2WD'
 '320d M Sport Mild-Hybrid' '1.0 TSI Active' '1.5 TSI FR Edition'
 '1.0 TGDI Tech' '1.6 GR 192kW High Performance'
 '2.0 Skyactiv-X Mild-Hybrid Evolution 2WD' '1.2 TSI Advance BlueMotion'
 '1.2 Selective' '1.2 PureTech Style' '1.2 PureTech Shine Talla XL'
 '1.5 dCi SL Nomada 2018' '1.6 TDI Xcellence Plus' '1.4 PHEV Sportline iV'
 ' TCE GPF SL Xplore  4x2' '1.2 Ti-VCT Ultimate' '1.5 T3'
 '420d Sport Line' '1.0 Ambiance' '1.2 PureTech Feel' '1.6 Pop Star'
 '1.5 Executive' '0.9 Passion' '35 TFSI Sportback ' '1.0 TSI Like'
 '1.5 BLUE dCi Zen' '35 TDI S line' '1.4 120 Aniversario'
 '1.6 Hybrid Tech' '1.2 Trend' '1.8 Hybrid Feel!' '1.0 MPI Ambition'
 '2.0 T2 Momentum' '1.0 TSI Style' '2.0 Mild-Hybrid Skyactiv-G Origin 2WD'
 '1.0 MPI Reference' '1.5 TSI ACT Ambition' '1.6 Basic 2WD'
 '1.5 Blue-HDi Allure Standard' '1.5 TSI FR' '1.0 PureTech Live Edition'
 '1.5 TSI Sport DSG' '1.6 CRDi Mild-Hybrid N Line '
 '1.2 TCe Energy BOSE Edition' '1.2 Collection' '2.0 TSI GTI'
 'Custom 2.0 TDCI 290 L2 Trend' '1.5 Blue-HDi GT Line' '1.0 SCe Life'
 'CLA 180' '1.5 City Family Active L1' '1.2 PureTech Rip Curl'
 '2.0 TDCi Trend 4x2' '1.0 Life' '2.0 TDI Style Edition'
 '2.5 Plug-In Hybrid ST-Line X' '520d Luxury Line' '1.0 EcoBoost Edition'
 '318d Mild-Hybrid' '1.6 Essential 4x2' '1.0 TSI Ambition'
 '1.0 TGDI GT Line' '1.5 Hybrid Active ' '1.2 Turbo Selective L'
 '1.3 M-Jet Base' '35 TDI advanced' '1.0 City' '2.0 Evolution 2WD'
 '30 TFSI Sportback' '2.0 TDCi Titanium' 'DIGT N-Connecta'
 '1.0 TSI Style Connect' '1.0 TSI Edition' '1.0 Reference Plus'
 '1.3 TCe SL Xplore 4x4' '1.0 TSI FR' '2.5 Hybrid Advance ' '1.2 Motion'
 '1.5 Hybrid GR Sport' '1.5 T3 Momentum 2WD' '1.0 TGDI Drive'
 '1.2 Ti-VCT Active' '1.33 Dual VVT-i Active' '1.5 dCi Laureate 4x2'
 '1.5 Hybrid Feel' '1.6 PureTech Allure' '1.2 Tecno Edition'
 '1.6 Limited 4x2' '0.9 TCe SL Nomada' '116d' '1.5 Blue-HDi Feel M'
 '2.0 T3 R-Design Momentum' '1.8 Hybrid Active' '1.2 Essence'
 '1.0 IG-T Moonlight' 'B 200 AMG Line' '1.5 Hybrid Advance'
 '1.5 Ti-VCT Titanium' '1.6 Essential' '35 TFSI S Line'
 '1.5 Blue-HDi Active' '1.2 Titanium' '1.5 TDCi Trend'
 '1.6 Blue-HDi Shine' 'CT 200h Eco' '1.2 TCe S-Edition' '1.0 X-Cite'
 '1.0 IG-T Energy Touch' '1.3 TCe Zen Energy' '1.4 M-Air Night Eagle 4x2'
 '1.6 Sport Plus AWD' '1.6 SCe Access' '118d'
 '35 TFSI Advanced Mild-Hybrid' '1.2 Concept' '1.0 Edition'
 '1.0 SCe Essential' '2.2 Sd4 Dynamic' '1.5 dCi Energy Intens'
 '1.0 MPI Like' '0.9 Energy Intens' '1.6 PureTech Shine'
 '1.6 PureTech Performance Line' '1.0 T-GDI Mild-Hybrid Maxx 2WD'
 '1.6 CDTI DPF Excellence' '1.0 X-Tech' '1.4 Klass Bluedrive'
 '120d xDrive M Sport' '1.6 Motion 2WD' '1.2 TSI FR Crono'
 '0.9 TCe Zen Energy' '1.6 Blue-HDi Feel' '2.0 TDI Xcellence Plus 4Drive'
 '1.0 X-Play' '1.2 TSI Ambition' '1.4 Concept' '1.6 TDI CR Xcellence'
 '1.2 Gold' '2.0 Blue-HDi First Edition' '220d AMG Line'
 '1.0 Micro Hybrid Drive passion' '1.5 Blue-HDi Shine M' '1.2 VTi Shine'
 'CT 200h Business' '35 TDI' '0.9 Energy Limited' 'C 200 Mild-Hybrid'
 '2.0 TDI Sportline' '1.4 Edition' '1.0 Style' '1.0 TGDI Concept'
 '1.5 dCi Energy Zen' 'Talla XL PureTech Shine ' '1.2 TSI Sport BMT'
 '1.0 GLX SHVS Mild-Hybrid' '1.4 Turbo Color Edition Start/Stop 4x2'
 '0.9 Turbo Passion' '1.0 EcoTSI Style' 'GLA 180'
 '1.1 Ti-VCT Limited Edition' '1.6 THP GT Line' '1.0 TSI Sport'
 '1.6 HDi Graphic Art' '1.8 TFSI Ambition' '1.5 dCi Energy Limited'
 '1.6 Drive' '1.0 52 mhd Passion' '1.2 Authentique' '1.6 Emotion 2WD'
 '1.5 EcoBlue ST-Line' '1.2 Klass' '1.2 TSI Reference Plus'
 '2.0 TDI Sport' '2.5 Zenith Safety White' '1.6 CDTI 120 Aniversario'
 'GLA 200 d Urban' '1.2 PureTech Tonic' '2.5 Hybrid 4x2 Business Edition'
 '1.0 Titanium' '1.6 dCi Energy Zen' '1.1 Trend' '1.6 DI-D Motion 2WD'
 '2.5 Executive Plus' '1.6 dCi N-Connecta 4x2' '1.8 Hybrid Advance'
 '1.2 Ti-VCT White Edition' '1.0 TCe Stepway' '2.0 Blue-HDi GT Line'
 'GLA 200 d' 'C 200 d' '1.4 Turismo' '1.0 T-GDI Maxx 2WD' '1.0 City Cross'
 '1.3 JLX' '1.0 TSI Ready2Go' '1.5 dCi Ambiance' '1.3 i-VTEC Comfort'
 'PureTech Allure Standard ' '1.4 Turbo Innovation' '1.5 TSI R-Line'
 '2.0 Motion 2WD' '1.5 dCi Energy Tech Road' '1.2 TCe Energy Zen'
 '1.5 ST EcoTSI FR' 'A 180 CDI AMG' '1.4 Pop Star' '1.5 dCi Prestige'
 '1.5 TSI ACT Style Visio Edition' '1.5 Blue-HDi Allure'
 '1.0 TSI Style Plus' '1.6 Blue-HDi Active TEPEE' '1.6 Sport FWD'
 '1.0 Tecno' '1.8 Hybrid Business Plus' '2.0 TDI Style '
 '1.2 VTi Collection' 'CLA 200 AMG Line' '1.2 VTi Urban Shot'
 '1.8 D Evolution' '2.0 ed4 4x2 SE' '1.2 Expression' '1.2 Reference'
 '1.0 Business' '1.6 Hybrid GT Pack PHEV' '1.4 Turbo Selective ecoFlex'
 '0.9 Energy Dynamique' '0.9 Turbo Basis passion' '1.4 CRDi Essence'
 '1.4 Advance' '1.5 dCi Dynamique eco2' '2.0 Td4 SE' '1.6 MHEV Drive 2WD'
 '1.4 TSI Trendline BlueMotion' '2.5 Hybrid Advance 4WD' 'A 220'
 '1.0 TGDi Sport 4x2' '1.7 CDTI Selective' '1.2 GT Line'
 '2.5 Hybrid Advance' '1.4 TSI Style' 'One' '1.4 Essence'
 '1.6 PureTech Active' '1.5 Blue-HDi Shine Talla M'
 '1.4 M-Air Limited 4WD' '1.2 Acenta' '1.4 GLE' '1.2 SC Reference'
 '2.0 Style' '1.0 EcoBoost Trend ' '1.2 Ambition' '1.6 Comfort'
 '1.6 25 Aniversario 4x2' '1.4 TSI Advance' '2.0 CRDi Tecno BlueDrive 2WD'
 '1.2 PureTech Live Edition' '1.6 SL Nomada' '1.5 Ti-VCT Trend'
 '1.6 SCe SL Nomada' '1.6 HDi Exclusive' '1.33 Dual VVT-i Feel!'
 'Cooper D' '1.6 HDi Access' '1.4 TDI Edition BlueMotion'
 '2.0 Si4 SE Dynamic' '1.2 TCe Comfort' '1.2 TCe Energy Zen Sport Tourer'
 '114 CDI Larga' '1.0 TSI FR Edition'
 '2.0 Skyactiv-X Mild-Hybrid Zenith 2WD' 'PureTech Feel' '120i M Sport'
 '2.0 Diesel Executive Plus' '1.4 XER Glam' '1.0 Style Plus'
 '1.2 TSI ST Reference' '220i Active Tourer Advantage'
 '1.4 TDI Sport BlueMotion' '1.4 CRDi Concept' 'D150 Mild-Hybrid'
 '1.2 Ambiance' '1.6 LS' '1.6 N-Connecta' '1.0 TSI High up! BlueMotion'
 '2.0 D3 2WD' '1.0 VTEC Elegance' '1.2 City S' '2.5 Hybrid Business'
 '1.6 LT' '1.4 Turbo Sport' '1.6 Visia' '1.4 VTi Tonic' 'NX 300h Eco'
 'C 220 d Estate' '1.6 Active' '1.2 TSI Style' '1.6 TDI Ambition'
 '1.0 EcoBoost Courier Trend' '1.6 TDCi Business' '1.2 PureTech GT Line'
 '1.0 TGDI Klass 2WD' '1.6 TGDI Style 2WD' '1.6 CDTI Selective'
 '1.1 CRDi Go' '2.0 TDI T1 BlueMotion' '2.0 Active'
 '1.0 Reference Full Connect' 'Active Standard  PureTech'
 '1.3 M-Jet Trekking' '2.0 Blue-HDi Airdream Intensive'
 '1.4 M-Air Limited 4x2' '1.2 VTi Active'
 '1.6 Blue-HDi 20 Aniversario Edition' '1.25 Trend' '1.3 M-Jet Easy'
 '1.4 CRDi Drive' '1.4 Business' '1.2 Turbo Active' '1.6 Blue-HDi Allure'
 '1.6 MPI Motion' '2.0 Sport Plus' '2.0 Blue-HDi Business XL'
 '1.0 Full Connect' '1.6 CDTI Dynamic ' '1.0 TGDi Longitude 4x2'
 '1.2 TSI Style I-Tech 30 Aniversario' '1.2 TCe Zen Energy'
 '1.6 dCi Energy GT-Line' '1.6 TDI Business BlueMotion Tech' '1.2 Drive'
 '1.5 BlueHDi Allure' '1.3 M-Jet Panorama Active N1' '1.0 Visia'
 '1.6 Hybrid Tecno' 'C 220 d Avantgarde' '1.4 M-Air Longitude 4x2'
 '1.2 TSI Sport' 'C 220 Diesel AMG Line' '1.5 Acenta'
 '2.0 CDTI Excellence' '218d M Sport' '1.4 Easy' '0.9 Stepway'
 '1.8 Hybrid Feel! Edition' '1.3 CDTI L1H1' '1.2 Spirit'
 '1.2 TCe Sport Tourer Zen Energy' 'E 220 d AMG' '1.2 TCe Intens'
 '1.0 TGDI Tecno' '1.0 Ecoboost Titanium' '1.2 Advance BlueMotion'
 '1.5 dCi BOSE EDC ' '1.2 PureTech First' '1.2 TSI Style Connect Plus'
 '1.6 dCi Acenta' '2.0 TDI Sport 4Motion' '1.6 TDI Attraction'
 '2.0 Td4 HSE' '1.5 EcoBoost Titanium' '2.0 TD Limited Plus 4x2'
 '1.2 Reference I-Tech 30 Aniversario' '1.5 dCi N-Connecta'
 '1.2 PureTech Connected Chic' '1.2 TCe  Zen' '1.3 100 Active'
 '1.5 dCi S.T GT-Style' '2.0 Blue-HDi Business Standard'
 '1.5 T-MIVEC Spirit 4WD' '1.6 TCe Energy Intens'
 '1.3 CDTI Expression L1H1' '1.6 CRDi VGT X-Tech' 'xDrive 20d'
 '218d Gran Coupe' '1.0 PureTech Access' '1.6 TDI Variant Edition'
 '1.6 Blue-HDi Active' '1.7 CDTI Sportive' '1.2 CMon'
 '1.6 Blue-HDi GT Line' '2.0 TDI Ultra Advanced edition' '2.0 TDI Ultra'
 '2.0 TDI S Line Edition' '2.0 Blue-HDi Allure' 'A 180 Urban'
 '1.6 Blue-HDi Live Talla M' '1.6 JTDM Distinctive' '2.0 TDI FR'
 '1.6 TDI Adrenalin' '1.6 HDi Seduction' '1.5 Blue-HDi Feel XL'
 '420d Gran Coupé Luxury Line' '2.0 M-Jet Longitude 4WD'
 '1.2 Naru Edition' '1.6 Blue-HDi Tepee Style' '2.0 CRDi Go Sky 4x2'
 '1.6 TDI Advance' '1.4 X-Tech' '318d' 'A 200 CDI BlueEfficiency Urban'
 '1.5 dCi Extrem' '1.0 VVT-i City' '1.4 Collection' 'PHEV Motion 4WD'
 '2.0 D4 Momentum 2WD' 'GLC 220' 'Zen Energy TCe '
 '2.0 TDI Ambiente quattro' '1.2 GT-Style' '1.2 Limited' '30 TDI Design'
 'NX 300h Business' '1.6 TDI Style' '1.6 MPI Tecno' '1.6 Blue-HDi Style '
 '1.4 TFSI Ambition ultra' '1.8 TSI 4Motion BlueMotion'
 '2.5 Hybrid Advance 4x2' '2.0 Kaiteki PHEV' '1.5 TDCi Titanium'
 '1.6 CC VTi' '2.5 Hybrid Advance Hybrid 2WD' '2.2 Sd4 Pure'
 '2.0 CRDi Drive 4x4' '2.0 TDI T1 Sport BlueMotion 4x2'
 '1.5 EcoBoost ST-Line Limited Edition' '1.4 Good Stuff' '1.8 LT +'
 '2.0 TDI BlueMotion T1 4x2' '1.4 Turbo Innovation 4x2' '2.0 HDi Allure'
 '1.2 Active' '1.4 Turbo Selective' '1.4 TSI Style Copa'
 '1.6 GDI BlueDrive Essence 2WD' '2.0 TDI FR Edition' '1.3 DIG-T Acenta'
 '1.6 TDI Sport' '1.2 TSI Sport BlueMotion' '1.5 DCi Ambiance'
 'Cooper S ALL4' '1.6 Blue-HDi Feel Edition' 'B 200 CDI'
 '1.6 CDTI SS Selective' '2.0 Style 2WD' '118i Advantage'
 '2.0 CRDi Tecno 4X4' '1.5 Turbodiesel Teckna 4x2' '1.4 GLS Tecno'
 '1.6 D-4D Advance 7pl' 'HDi Collection' '1.2 TSI Advance' '1.0 PT Tonic'
 '1.2 Emotion' 'sDrive 18d xLine' '1.2 Style' '1.6 CDTI DPF Selective'
 '116d EfficientDynamics Edition' '1.2 VTi Feel' 'sDrive 20d'
 '0.9 TCe  Stepway' 'C 220 CDI BlueEfficiency Avantgarde'
 '2.0 TDI Variant Advance' '2.0 dCi Energy GT 4Control' '320d'
 '1.6 TDI Design Edition' '1.2 PureTech Access'
 '2.0 TDI Advance BlueMotion' '1.4 HDi Urban Shot' '2.0 Urban'
 '1.6 CRDi Tecno Blue' 'E 220 d AMG Line' '1.6 Acenta'
 '2.0 TDI T1 Sport BlueMotion' '1.6 Blue-HDi Multispace 20 Aniversario '
 '1.4 Sportive GTC' '2.0 HDi Sport' '2.0 TDI Ambition' '1.4'
 '1.6 GDI Drive 4x2' '1.5 JX' '1.2 Life' '1.4 Turbo Excellence ecoFlex'
 '1.2 e-THP Feel' '1.5 dCi Comfort' '1.0 TGDI Go! Navi' '1.3 TCe Zen'
 '0.9 TCe SL Nomada 2018' '1.2 e-THP Allure' '1.2 e-THP Shine'
 '1.2 PureTech Desire' '1.2 TCe Energy 4Austria' 'SLK 200 BlueEfficiency'
 '1.2 Edition' '1.5 T-MIVEC Motion 2WD' '1.6 GDI Black Edition 2WD'
 '1.4 Turbo 120 Jahre Start/Stop' '1.0 Selective'
 '1.5 dCi SL Eficacia 4x2' '1.0 Tech' '1.6 GDI Spirit' '1.6 GL'
 '2.0 Zenith' '1.0 Seduction' '1.5 TDCi ST-Line' 'D150 S'
 '1.0 Basis passion' '1.0 VTi City Edition' '1.5 EcoBoost Vignale'
 '1.6 Blue-HDi XTR Plus' '116i' '30 TFSI S Line'
 '1.6 TDI Trendline BlueMotion Tech.' '2.0 TDI AMG Line' '1.4 Ambiente'
 '1.5 Blue-HDi Allure L1' '2.5 Hybrid Advance Hybrid' '1.3 JX'
 '1.5 TSI ACT FR Edition' '2.0 TSI Sport 4Motion BMT' '1.0 Acenta'
 '1.7 dCi Acenta' '35 TFSI S line' '1.6 Challenge 2WD' '1.4 HDi Confort'
 '1.0 TGDI Techo Tech' '1.6 Advance' '1.4 Expression'
 '1.5 Turbodiesel Acenta' '1.4 Color Edition'
 '1.4 Turbo Excellence Start/Stop' '0.9 Energy GT' '1.6 Dynamique'
 '1.2 PureTech Elle' '1.5 EcoBoost Trend+' '1.0 TSI FR Plus'
 '1.6 Essence 2WD' '1.8 Hybrid Active Tech' '1.4 D-4D Life'
 '1.6 TCe Energy GT' '1.3 JTD Dynamic' '1.4 SIDI Turbo 120 Jahre'
 '318i Advantage' '1.2 e-THP Active' '1.4 TSI Advance BlueMotion Tech'
 'sDrive 18d Advantage' '2.0 D-4D Advance' 'D150 HSE' '1.2 Base'
 '1.0 SCe Intens' '1.6 e-HDi Allure' '1.6 Turbo Allure'
 '1.6 Live Edizione' '2.0 TFSI Design quattro' '1.3 TCe GT-Line'
 '1.0 EcoBoost Sport' '1.2 e-VTi Style' '0.9 Tekna'
 '1.4 TSI Edition BlueMotion' '1.0 IG-T Visia' '1.6 TDI Like'
 '1.2 e-THP Signature' '1.2 Color Therapy' '1.5 VTEC Sport Plus'
 '1.4 Turbo Sportive' '1.0 TSI Trendline BlueMotion' 'Cooper S'
 '1.6 Blue-HDi Exclusive' '1.6 TDI Stylance / Style'
 '2.5 Hybrid 4x2 Feel!' '1.6 Ti-VCT Trend +' '1.5 Dual VVT-iE Feel'
 '1.4 HDi Tonic' '2.0 TFSI' '1.6 GDI Drive' '1.5 dCi Diesel Ambiance'
 '1.2 Excellence' '1.2 Pop' '2.0 CDTI Selection' '1.2 Tekna Sport'
 'V 220 d lang' '320d Sport Line' '1.6 Blue-HDi 20 Jahre Edition'
 '1.6 Concept' 'C 220 d BlueTEC AMG Line'
 '1.6 CRDi Mild-Hybrid Business 2WD' '1.2 e-THP Active L2'
 '1.4 TDI Advance BlueMotion' '1.6 HDi Selection' '1.4 M-Air Limited FWD'
 '1.6 TDI Ambiente' '1.2 TSI Style ITech' '1.6 TDI Reference Ecomotive'
 'sDrive 20i' '1.4 Turbo Excellence' '1.4 CRDi Klass' '1.5 TDCi Business'
 '2.0 TDI X-Perience 4Drive' '2.0 TDI Ambiente' '1.2 Comfort'
 '1.2 TSI Edition Outdoor' '118d M Sport' '1.1 LX'
 '1.6 Essence BlueDrive 2WD' '1.5 Diesel Luxury' '1.2 TSI Black Outdoor'
 'sDrive 18i' '1.6 Blue-HDi Outdoor' '1.6 VTi Seduction'
 '1.5 dCi Energy Technofeel' '1.6 VTi Business' '2.0 TDI Outdoor'
 '1.6 Turbodiesel Limited 4x2' '20d Pure AWD' '1.2 e-VTi Active'
 '1.5 Blue dCi SL Nomada' '1.2 VTi Live Edition'
 '1.5 EcoBlue TDCi Kombi Trend lang' '1.0 Go' '120d M Sport'
 '1.5 dCi Stepway' '1.6 CDTI Excellence' '1.6 CD Diesel Style'
 '1.0 TGDI Classic 2WD' 'Cooper SD' '1.2 e-THP Attraction' '1.2 Go! Navi'
 '1.8 TDCi Trend kurz' '1.4 TSI' 'NX 300h'
 '1.2 TSI Edition BlueMotion Tech.' '1.6 DTEC Executive 4WD'
 '1.2 Ti-VCT Basis' '2.0 CRDi GT Line 2WD' '2.0 Diesel LT'
 'A 180 CDI BlueEfficiency Urban' '1.2 Basis' '1.6 TDI Style Ecomotive'
 '1.6 TDCi Trend' '1.6 TDI I-Tech Ecomotive' '2.0 Black Tech Ed.'
 '3.0 V6 TDI quattro' '1.4 HDi Style' 'A 200 CDI Urban'
 '1.5 Turbodiesel Tekna' '1.5 dCi Ambiance 4x2' '2.2 CDI lang Ambiente'
 '1.5 dCi Dynamique' 'CLA 200 d Urban' '2.0 Blue-HDi Shine'
 '2.0 Blue-HDi Active L2' '1.6 dCi Visia 4x4'
 '1.6 TDI Reference Copa Ecomotive' '1.3 Hybrid Elegance'
 '1.6 TDI Edition BlueMotion' 'sDrive 18d' '2.0 CDTI Cosmo'
 '1.6 TDI Sport by R-Line' '2.0 TDI Sport 4Motion BlueMotion'
 '1.5 dCi Laureate' '2.0 TDI Advance quattro' '1.2 e-THP Style'
 '2.0 Multijet Urban' '116d M Sport' '1.6 Blue-HDi Live'
 '1.2 TFSI Attraction' '2.0 DDiS GLX' '1.5 VTi Luxury'
 'GT PureTech SS EAT8' '1.6 T-GDI Hybrid Maxx Auto' 'D150 S Mild-Hybrid'
 '1.0 TGDI SLX' '1.0 TSI United' '1.0 TSI Emotion ' '1.0 TCe Comfort'
 '1.0 TCe Stepway Essential' '1.2 TCe Black Shadow 4x2' '1.0 Lounge'
 '2.0 Hybrid GR Sport' '1.0 TSI Ecomotive Style' '1.0 CVVT Concept'
 '1.0 TGDI Tecno LE' '1.0 High up!' '1.2 Nueva Coleccion'
 '1.6 GDI Concept 2WD' '1.3 M-Jet Pop Star' '0.9 TCe SL Xplore'
 '1.2 Turbo GS Line' '1.4 Glam Unlimited' '1.0 Concept' '1.0 X-Wave'
 '1.2 Fresh' '1.5 Hybrid N Line' '0.9 TCe  Stepway Essential'

## Transformación columnas, tipo de datos:

Transformación de datos a valores correctos.

In [ ]:
df.dtypes

Marca           object
Modelo          object
Version         object
Precio          object
Combustible     object
Año             object
Kms             object
Potencia        object
Puertas         object
Cambio          object
Color           object
Distribuidor    object
dtype: object

Todas son objetos, vamos a transformar las que no deben serlo a sus tipos correspondientes:

1. "Precio"(object) -------> int64.
2. "Año"(object) -----------> datetime[ns]
3. "Kms"(object) ----------> Float64.
4. "Potencia"(object)----> Int64

In [ ]:
df.dtypes

Marca           object
Modelo          object
Version         object
Precio          object
Combustible     object
Año             object
Kms             object
Potencia        object
Puertas         object
Cambio          object
Color           object
Distribuidor    object
dtype: object

In [ ]:
# Convertimos a la vez todas las columnas a su tipo correspondiente:
# Para la columna "Año" lo hacemos diferente, más abajo.
# Para convertir el precio a un int(), nos encontramos con que hay precios que contienen un "." como separador de miles.
# Limpiamos previamente este "." y despues convertimos:

df['Precio'] = df['Precio'].apply(lambda x: x.replace(".", ""))

df = df.astype({"Precio":"int64", "Potencia":"Int64", "Kms":"Float64"})
df["Año"] = pd.to_datetime(df["Año"], format='%Y')

<ipython-input-91-782453c22a54>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Precio'] = df['Precio'].apply(lambda x: x.replace(".", ""))

In [ ]:
df['Año'].unique()

array(['2021-01-01T00:00:00.000000000', '2020-01-01T00:00:00.000000000',
       '2023-01-01T00:00:00.000000000', '2022-01-01T00:00:00.000000000',
       '2019-01-01T00:00:00.000000000', '2018-01-01T00:00:00.000000000',
       '2017-01-01T00:00:00.000000000', '2012-01-01T00:00:00.000000000',
       '2013-01-01T00:00:00.000000000', '2016-01-01T00:00:00.000000000',
       '2014-01-01T00:00:00.000000000', '2015-01-01T00:00:00.000000000',
       '2011-01-01T00:00:00.000000000'], dtype='datetime64[ns]')

In [ ]:
df.dtypes

Marca                   object
Modelo                  object
Version                 object
Precio                   int64
Combustible             object
Año             datetime64[ns]
Kms                    Float64
Potencia                 Int64
Puertas                 object
Cambio                  object
Color                   object
Distribuidor            object
dtype: object

## Eliminamos duplicados:

In [ ]:
len(df)

2166

In [ ]:
# Vemos si exiten filas duplicadas y cuántas:

print(f"Existen {df.duplicated(keep='first').sum()} filas duplicadas, teniendo en cuenta todas las columnas.")
print()
df[df.duplicated()].head(5) # Mostramos los duplicados. No se toma en cuenta la primera aparición de estos.

Existen 749 filas duplicadas, teniendo en cuenta todas las columnas.

,Marca,Modelo,Version,Precio,Combustible,Año,Kms,Potencia,Puertas,Cambio,Color,Distribuidor
87,Dacia,Sandero II,0.9 TCe Stepway,10299,Gasolina,2017-01-01,14281.0,90,5,Manual,Blanco,Autohero.com
88,Subaru,Trezia,1.4 Diesel Limited,9199,Diésel,2012-01-01,14432.0,90,5,Manual,Plata,Autohero.com
90,Volkswagen,Polo,1.0 TSI Advance,15299,Gasolina,2019-01-01,14521.0,95,5,Manual,Blanco,Autohero.com
91,Citroen,C 3,PureTech Shine,15999,Gasolina,2021-01-01,14858.0,110,5,Manual,Negro,Autohero.com
92,Peugeot,208,1.2 PureTech Active Pack,15199,Gasolina,2021-01-01,14859.0,75,5,Manual,Amarillo,Autohero.com

In [ ]:
# Eliminamos las filas duplicadas:

df.drop_duplicates(subset=None, keep='first', inplace=True, ignore_index=False) # argumentos por defecto tambien funciona.

In [ ]:
# Comprobamos:
len(df)

1417

Finalmente tenemos el siguiente número de ofertas de coches (filas):

In [ ]:
print(f"Contamos con {'{:,d}'.format(len(df))} ofertas de coches de segunda mano.")

Contamos con 1,417 ofertas de coches de segunda mano.

# 4 Guardar df como .csv sin índices.

In [ ]:
df.to_csv('CSV_Scraping_autohero_LIMPIO.csv', index=False)

In [ ]:
df2 = pd.read_csv('CSV_Scraping_autohero_LIMPIO.csv')
df2

,Marca,Modelo,Version,Precio,Combustible,Año,Kms,Potencia,Puertas,Cambio,Color,Distribuidor
0,Seat,Ateca,1.5 TSI Style,28399,Gasolina,2021-01-01,330.0,150,5,Automático,Gris,Autohero.com
1,Citroen,C3 Aircross,1.2 PureTech C-Series,17099,Gasolina,2020-01-01,1695.0,110,5,Manual,Gris,Autohero.com
2,Seat,Arona,1.0 TSI Xperience,21599,Gasolina,2023-01-01,1771.0,110,3,Manual,Rojo,Autohero.com
3,Fiat,Panda,1.0 Mild-Hybrid City Life,13599,Gasolina,2022-01-01,2019.0,70,5,Manual,Gris,Autohero.com
4,Hyundai,Bayon,1.2 Essence 2WD,17199,Gasolina,2022-01-01,2794.0,84,5,Manual,Blanco,Autohero.com
...,...,...,...,...,...,...,...,...,...,...,...,...
2161,Fiat,500,1.2 S,12999,Gasolina,2018-01-01,61360.0,70,3,Automático,Negro,Autohero.com
2162,Peugeot,208,1.2 PureTech Style,9799,Gasolina,2017-01-01,61384.0,82,5,Manual,Gris,Autohero.com
2163,Renault,Grand Scenic,1.3 TCe Zen,18499,Gasolina,2018-01-01,61395.0,140,5,Manual,Marrón,Autohero.com
2164,Kia,Rio,1.2 CVVT Eco-Dynamics X-Tech,8599,Gasolina,2015-01-01,61549.0,85,5,Manual,Blanco,Autohero.com
2165,Nissan,NV200 Evalia,1.5 dCi Comfort,15099,Diésel,2018-01-01,61706.0,110,5,Manual,Blanco,Autohero.com